/* Body padding to cope with fixed header */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}


/* Using navbar-fixed-top, so need to push any page anchors up by at least 50px
 * so the navbar doesn't cover the content when navigating to it
 */
.navbar-anchor {
    display: block;
    position: relative;
    top: -55px;
    visibility: hidden;
}


/** HEADER **/
.navbar {
  margin-bottom: 0px;
}


/** BODY **/
.jumbotron {
  padding-top: 0px;
  padding-bottom: 15px;
}

.jumbotron h1 + p {
    margin-top: 25px;   /* Add some margin for the first paragraph in jumbotron, if it's directly under the h1 */
}

.jumbotron .nav-stacked {
    max-width: 500px;
}


.right-button {
    text-align: right;
    margin-top: 10px;
    margin-right: 25px;
}

.right-button a, .right-button button {
    margin-left: 35px;  /* Force multiple right-aligned buttons on the same line away from each other */
}


.padded-list li {
  padding-top: 20px;
}

.padded-list li > ul > li {
    padding-top: 5px;
}


.bold-font {
    font-weight: bold;
}


/** FOOTER **/
#footer-hr {
    margin-top: 75px;
    margin-bottom: 25px;
}
