/* Body padding to cope with fixed header */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}


/** HEADER **/
#header-nav {
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../images/restaurant-logo_large.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}


/** BODY **/
#what {
  padding-top: 15px;
}

#plan ol li, #do ol li {
  padding-top: 15px;
}
