/* Body padding to cope with fixed header */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}


/** HEADER **/
.navbar {
  margin-bottom: 0px;
}


/** BODY **/
.jumbotron {
  padding-top: 0px;
  margin-bottom: 0px; /* navbar-fixed-top fix */
}

h2 {
  padding-top: 55px; /* navbar-fixed-top fix */
  margin-top: 0px; /* navbar-fixed-top fix */
}

#plan li, #do li, #related li {
  padding-top: 15px;
}


/** NOTES **/
/* Using navbar-fixed-top so without various massaging to padding / margins, links to
 * anchors in the same page have the top of their content (usually the title of the section)
 * hidden by the navbar. Such style changes are comments with "navbar-fixed-top fix".
 * 
 */